
table {
    width: 400px;
    height: 400px;
    background-color: #00FFFF;
    text-align: center;

    /* 合并单元格 */
    border-collapse: collapse;
}

table,
th,
td {
    border: solid 1px #0050AF;
}

