.div1{
    /*列的数量*/
    column-count: 4;
    -webkit-column-count: 4;

    /*每两列之间的间隔*/
    column-gap: 30px;
    -webkit-column-gap: 30px;

	/*设置间隔线的宽度为5px，间隔线的颜色为红色*/
    column-rule: 5px outset red;
    -webkit-column-rule: 5px outset red;
}