.box {
    /* 列数 */
    column-count: 4;
    -webkit-column-count: 4;

    /* 列与列之间的间距 */
    column-gap: 30px;
    -webkit-column-gap: 30px;

    /* 设置间隔线的宽度、样式和颜色 */
    column-rule: 5px outset red;
    -webkit-column-rule: 5px outset red;
}