
* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 762px;
    height: 739px;
    padding: 4px 8px 0 8px;
    margin: 0 auto;
    background-color: #BADBDB;
}

.header {
    width: 762px;
    height: 92px;
    background: url("./images/banner.gif") no-repeat;
}

.header .nav {
    margin-top: 5px;
    color: #fff;
    font-size: 12px;
    float: right;
}

.header .nav li {
    display: inline-block;
}

.header .nav a:hover {
    text-decoration: underline;
}

.content {
    width: 762px;
    height: 466px;
    margin-top: 10px;
    background: url("./images/t_profile.gif") no-repeat;
    background-color: #EFF9F9;
}

.content .title {
    padding: 45px 0 24px 13px;
    font-size: 14px;
    font-weight: bold;
    color: #346667;
}

.content .text {
    line-height: 24px;
    padding-left: 8px;
    margin-bottom: 8px;
    text-indent: 2em;
    font-size: 12px;
    color: #346667;
}

.book-list {
    width: 707px;
    height: 100px;
    padding: 46px 0 0 55px;
    margin-top: 14px;
    background: url("./images/t_book.gif") no-repeat;
    background-color: #EFF9F9;
}

.book li {
    width: 80px;
    height: 80px;
    margin-right: 33px;
    border: solid 1px #A9A9A9;
    float: left;
}

.footer {
    height: 54px;
    line-height: 54px;
    color: #A9A9A9;
    text-align: center;
    font-size: 12px;
}
