<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cocos00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,663},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cocos01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,710},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cocos02.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,522},{39,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cocos03.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,988},{43,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cocos04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,898},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cocos05.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,450},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{37,43}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cocos06.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1128},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,43}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cocos07.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1173},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,43}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cocos08.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,569},{39,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>cocos09.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,943},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>pattern_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,757},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>pattern_destroy_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pattern_destroy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pattern_destroy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pattern_destroy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>pattern_destroy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>pattern_destroy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>pattern_destroy_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>pattern_destroy_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>pattern_destroy_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>pattern_destroy_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>pattern_destroy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{84,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>pattern_destroy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>pattern_destroy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{90,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,72}}</string>
                <key>sourceSize</key>
                <string>{90,72}</string>
            </dict>
            <key>pattern_destroy_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{94,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,72}}</string>
                <key>sourceSize</key>
                <string>{94,72}</string>
            </dict>
            <key>pattern_destroy_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{96,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,74}}</string>
                <key>sourceSize</key>
                <string>{96,74}</string>
            </dict>
            <key>pattern_destroy_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{100,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,74}}</string>
                <key>sourceSize</key>
                <string>{100,74}</string>
            </dict>
            <key>pattern_destroy_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,74}}</string>
                <key>sourceSize</key>
                <string>{102,74}</string>
            </dict>
            <key>pattern_destroy_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>pattern_explode_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1074},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>pattern_explode_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1394},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>pattern_explode_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1336},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>pattern_explode_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1715},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>pattern_explode_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1655},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,55}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>pattern_explode_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1593},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>pattern_explode_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1529},{62,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,55}}</string>
                <key>sourceSize</key>
                <string>{62,55}</string>
            </dict>
            <key>pattern_explode_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1838},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>pattern_explode_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1655},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>pattern_explode_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1777},{64,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,59}}</string>
                <key>sourceSize</key>
                <string>{64,59}</string>
            </dict>
            <key>pattern_explode_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1716},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>pattern_explode_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1529},{66,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>pattern_explode_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>pattern_explode_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>pattern_explode_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1401},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>pattern_explode_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1592},{66,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>pattern_explode_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1838},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>pattern_mark_explode.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,804},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>pattern_mark_freeze.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1033},{39,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{39,45}</string>
            </dict>
            <key>pattern_mark_petrifaction.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,616},{41,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,45}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>pattern_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,851},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TexturePackerGUI.png</string>
            <key>size</key>
            <string>{127,1902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:126132d1661de4d7e09b09fdcfe46399:e6049f42e8415405326ab3025ead1982:62fdddb47f05c3eac7de4450011e85fd$</string>
            <key>textureFileName</key>
            <string>TexturePackerGUI.png</string>
        </dict>
    </dict>
</plist>
