p {
    width: 100px;
    background-color: aqua;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
}

.cssid {
    width: 100px;
    height: 100px;
    background-color: blue;
    text-align: center;
    box-shadow: 10px 10px 5px pink;
}
