<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>m_bg_grd2.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>4</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>800</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>800</integer>
		</dict>
		<key>m_bt_how_01.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>817</integer>
			<key>width</key>
			<integer>237</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>238</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>m_bt_how_02.png</key>
		<dict>
			<key>x</key>
			<integer>784</integer>
			<key>y</key>
			<integer>889</integer>
			<key>width</key>
			<integer>237</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>238</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>m_bt_play_01.png</key>
		<dict>
			<key>x</key>
			<integer>524</integer>
			<key>y</key>
			<integer>884</integer>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>m_bt_play_02.png</key>
		<dict>
			<key>x</key>
			<integer>262</integer>
			<key>y</key>
			<integer>883</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>258</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
		<key>m_bt_ranking_01.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>919</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>258</integer>
			<key>originalHeight</key>
			<integer>94</integer>
		</dict>
		<key>m_bt_ranking_02.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>809</integer>
			<key>width</key>
			<integer>258</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>258</integer>
			<key>originalHeight</key>
			<integer>94</integer>
		</dict>
		<key>level_easy01.png</key>
		<dict>
			<key>x</key>
			<integer>535</integer>
			<key>y</key>
			<integer>778</integer>
			<key>width</key>
			<integer>422</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>422</integer>
			<key>originalHeight</key>
			<integer>98</integer>
		</dict>
		<key>level_hard01.png</key>
		<dict>
			<key>x</key>
			<integer>485</integer>
			<key>y</key>
			<integer>677</integer>
			<key>width</key>
			<integer>422</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>422</integer>
			<key>originalHeight</key>
			<integer>98</integer>
		</dict>
		<key>level_hard02.png</key>
		<dict>
			<key>x</key>
			<integer>485</integer>
			<key>y</key>
			<integer>575</integer>
			<key>width</key>
			<integer>422</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>422</integer>
			<key>originalHeight</key>
			<integer>98</integer>
		</dict>
		<key>level_normal01.png</key>
		<dict>
			<key>x</key>
			<integer>485</integer>
			<key>y</key>
			<integer>473</integer>
			<key>width</key>
			<integer>422</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>422</integer>
			<key>originalHeight</key>
			<integer>98</integer>
		</dict>
		<key>level_normal02.png</key>
		<dict>
			<key>x</key>
			<integer>486</integer>
			<key>y</key>
			<integer>371</integer>
			<key>width</key>
			<integer>422</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>422</integer>
			<key>originalHeight</key>
			<integer>98</integer>
		</dict>
		<key>m_bg_logo.png</key>
		<dict>
			<key>x</key>
			<integer>486</integer>
			<key>y</key>
			<integer>3</integer>
			<key>width</key>
			<integer>478</integer>
			<key>height</key>
			<integer>364</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>478</integer>
			<key>originalHeight</key>
			<integer>364</integer>
		</dict>
	</dict>
</dict>
</plist>