<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>g_bt_menu.png</key>
		<dict>
			<key>x</key>
			<integer>866</integer>
			<key>y</key>
			<integer>476</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>134</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>g_bt_pause.png</key>
		<dict>
			<key>x</key>
			<integer>908</integer>
			<key>y</key>
			<integer>270</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>54</integer>
			<key>originalHeight</key>
			<integer>62</integer>
		</dict>
		<key>g_bt_ranking.png</key>
		<dict>
			<key>x</key>
			<integer>866</integer>
			<key>y</key>
			<integer>340</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>g_bt_replay.png</key>
		<dict>
			<key>x</key>
			<integer>919</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>134</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>g_bt_resume.png</key>
		<dict>
			<key>x</key>
			<integer>919</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>gameover.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>248</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>248</integer>
		</dict>
		<key>m_bt_back.png</key>
		<dict>
			<key>x</key>
			<integer>966</integer>
			<key>y</key>
			<integer>271</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>54</integer>
			<key>originalHeight</key>
			<integer>62</integer>
		</dict>
		<key>menu_bg.png</key>
		<dict>
			<key>x</key>
			<integer>482</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>436</integer>
			<key>height</key>
			<integer>255</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>436</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>mode01.png</key>
		<dict>
			<key>x</key>
			<integer>441</integer>
			<key>y</key>
			<integer>456</integer>
			<key>width</key>
			<integer>421</integer>
			<key>height</key>
			<integer>193</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>422</integer>
			<key>originalHeight</key>
			<integer>194</integer>
		</dict>
		<key>mode02.png</key>
		<dict>
			<key>x</key>
			<integer>441</integer>
			<key>y</key>
			<integer>259</integer>
			<key>width</key>
			<integer>421</integer>
			<key>height</key>
			<integer>193</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>422</integer>
			<key>originalHeight</key>
			<integer>194</integer>
		</dict>
		<key>modeselect.png</key>
		<dict>
			<key>x</key>
			<integer>446</integer>
			<key>y</key>
			<integer>652</integer>
			<key>width</key>
			<integer>287</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>287</integer>
			<key>originalHeight</key>
			<integer>61</integer>
		</dict>
		<key>levelselect.png</key>
		<dict>
			<key>x</key>
			<integer>742</integer>
			<key>y</key>
			<integer>655</integer>
			<key>width</key>
			<integer>262</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>262</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>mode03_1.png</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>850</integer>
			<key>width</key>
			<integer>422</integer>
			<key>height</key>
			<integer>148</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>422</integer>
			<key>originalHeight</key>
			<integer>148</integer>
		</dict>
		<key>mode03_2.png</key>
		<dict>
			<key>x</key>
			<integer>443</integer>
			<key>y</key>
			<integer>716</integer>
			<key>width</key>
			<integer>422</integer>
			<key>height</key>
			<integer>148</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>422</integer>
			<key>originalHeight</key>
			<integer>148</integer>
		</dict>
		<key>menu_bg2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>251</integer>
			<key>width</key>
			<integer>438</integer>
			<key>height</key>
			<integer>596</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>438</integer>
			<key>originalHeight</key>
			<integer>596</integer>
		</dict>
		<key>sound_off.png</key>
		<dict>
			<key>x</key>
			<integer>969</integer>
			<key>y</key>
			<integer>397</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>sound_on.png</key>
		<dict>
			<key>x</key>
			<integer>969</integer>
			<key>y</key>
			<integer>340</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
	</dict>
</dict>
</plist>