
* {
    padding: 0;
    margin: 0;
}

a {
    color: #266392;
}

ul {
    list-style: none;
}

.fl {
    float: left;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1; /*IE/7/6*/
}

.container {
    width: 910px;
    margin: 0 auto;
}

.header-title {
    width: 100%;
    margin-top: 5px;
}

/* logo的CSS样式 */
.header-title a {
    width: 217px;
    height: 63px;
    background: url("images/logo.gif");
    background-repeat: no-repeat;
    float: left;
}

.header-title dl {
    padding-top: 10px;
    float: right;
}

.header-title dl dt {
    line-height: 26px;
    font-weight: bold;
    color: #5a5a5a;
}

.header-title dl dd {
    line-height: 24px;
    font-size: 12px;
    color: #828282;
}

.header-nav {
    width: 910px;
    height: 36px;
    margin-top: 5px;
    background: url("images/navbg.gif");
    background-repeat: no-repeat;
}

.header-nav ul {
    width: 94%;
    margin: 0 auto;
    overflow: hidden;
}

.header-nav li {
    line-height: 34px;
    margin: 0 20px;
    font-size: 16px;
    font-weight: bold;
    float: left;
}

.header-nav a {
    text-decoration: none;
    color: white;
}

/*首页的CSS样式*/
.header-nav li.active {
    width: 88px;
    background: url("images/home.gif");
    background-position: 0px 4px;
    background-repeat: no-repeat;
    text-align: center;
}

.header-nav .active a {
    color: black;
}

.header-nav .QQ-lab {
    padding-left: 20px;
    background: url("images/arrow_r.gif");
    background-repeat: no-repeat;
    background-position: 0px 10px;
    float: right;
}

.body {
    width: 100%;
    margin: 5px auto;
}

.content {
    width: 600px;
    float: left;
}

.introduce {
    width: 600px;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
    border-bottom: 1px solid #cce6f5;
}

.introduce .software {
    color: #266392;
    font-weight: bold;
    text-decoration: none;
    float: left;
}

.introduce .more {
    font-size: 10px;
    text-decoration: none;
    float: right;
}

.software:hover,.more:hover {
    text-decoration: underline;
}

.softwarelist {
    width: 600px;
    margin-top: 15px;
}

.softwarelist li {
    margin-bottom: 15px;
}

.softwarelist dt a:hover {
    text-decoration: none;
}

/* 更新日期的CSS样式 */
.softwarelist .updatedate {
    color: #828282;
    font-size: 13px;
}

.new {
    padding-right: 10px;
}

.softwarelist dd {
    padding-top: 5px;
    font-size: 13px;
}

.download {
    font-size: 10px;
    float: right;
}

.download a:hover {
    text-decoration: none;
}

.software_1 {
    padding-left: 40px;
    background: url("images/icon_1.gif");
    background-repeat: no-repeat;
}

.software_2 {
    padding-left: 40px;
    background: url("images/icon_2.gif");
    background-repeat: no-repeat;
}

.software_3 {
    padding-left: 40px;
    background: url("images/icon_3.gif");
    background-repeat: no-repeat;
}

.software_4 {
    padding-left: 40px;
    background: url("images/icon_4.gif");
    background-repeat: no-repeat;
}

.software_5 {
    padding-left: 40px;
    background: url("images/icon_5.gif");
    background-repeat: no-repeat;
}

.software_6 {
    padding-left: 40px;
    background: url("images/icon_6.gif");
    background-repeat: no-repeat;
}

.sidebar {
    width: 290px;
    height: 550px;
    float: right;
}

.sidebar h4 {
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #cce6f5;
}

.newslist li {
    height: 20px;
    line-height: 20px;
    font-size: 13px;
}

.newslist a {
    text-decoration: none;
}

/* 更多推荐的CSS样式 */
.recommend {
    height: 20px;
    margin-top: 35px;
    border-bottom: 1px solid #cce6f5;
}

.recommend .software {
    color: #266392;
    font-weight: bold;
    text-decoration: none;
    float: left;
}

.recommend .more {
    font-size: 10px;
    text-decoration: none;
    float: right;
}

.newslist a:hover,
.recommend .software:hover,
.recommend .more:hover {
    text-decoration: underline;
}

/* 推荐列表的CSS样式 */
.recommendlist {
    margin-top: 20px;
}

.softname {
    height: 20px;
    line-height: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    text-decoration: none;
}

.softname:hover {
    text-decoration: underline;
}

.soft_1 {
    height: 20px;
    padding-bottom: 5px;
    background: url("images/soft_r_1.gif");
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.soft_2 {
    height: 20px;
    padding-bottom: 5px;
    background: url("images/soft_r_2.gif");
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.soft_3 {
    height: 20px;
    padding-bottom: 5px;
    background: url("images/soft_r_3.gif");
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.soft_4 {
    height: 20px;
    padding-bottom: 5px;
    background: url("images/soft_r_4.gif");
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.soft_5 {
    height: 20px;
    padding-bottom: 5px;
    background: url("images/soft_r_5.gif");
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.soft_6 {
    height: 20px;
    padding-bottom: 5px;
    background: url("images/soft_r_6.gif");
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.recommendlist .download {
    float: right;
}

.recommendlist span {
    height: 20px;
    padding-left: 10px;
    background: url("images/downicon.gif");
    background-repeat: no-repeat;
    background-position: 0px 5px;
    float: right;
}

.recommendlist span a {
    font-size: 13px;
}

.recommendlist span a:hover {
    text-decoration: none;
}

.partner {
    margin-top: 10px;
}

.partner .partner-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #cce6f5;
}

table {
    width: 290px;
}

td {
    padding-top: 10px;
    font-size: 12px;
}

table a {
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

.footer {
    width: 100%;
    height: 80px;
    color: darkgray;
    background-color: #F8F8F8;
    text-align: center;
    font-size: 10px;
    border: 1px solid #E6E6E6;
}

.footer .copyright {
    height: 40px;
    line-height: 40px;
}
