*{
    margin: 0px;
    padding: 0px;
}

.top{
    width: 100%;
    height: 50px;
    background-color: black;
}

.top_content{
    width: 75%;
    height: 50px;
    margin: 0px auto;
    background-color: blue;
}

.body{
    margin: 20px auto;
    width: 75%;
    height: 1500px;
    background-color: blanchedalmond;
}

.body_image{
    width: 100%;
    height: 400px;
    background: darkorange;
}

.body_content{
    width: 100%;
    height: 1100px;
    background-color: blueviolet;
}

.body_no{
    width: 100%;
    height: 50px;
    background-color: aqua;
}

.footing{
    width: 75%;
    height: 400px;
    margin: 0px auto;
    background-color: indigo;
}

.footing_content{
    width: 100%;
    height: 330px;
    background-color: chartreuse;
}

.footing_menu{
    width: 100%;
    height: 70px;
    background-color: black;
}