
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.jd-cate {
    width: 100%;
    height: 100%;
    padding-top: 45px;
    position: relative;
}

.cate-left {
    width: 90px;
    height: 100%;
    padding-top: 45px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.cate-left .cate-nav li {
    width: 90px;
    height: 50px;

    /* 因为使用了IE盒模型，所以此处的高度包含了border-bottom值，而line-height不包含border-bottom值 */
    line-height: 49px;
    background-color: #F3F4F6;
    border-right: solid 1px #E0E0E0;
    border-bottom: solid 1px #E0E0E0;
    text-align: center;
}

.cate-left .cate-nav li a {
    font-family: sans-serif;
    font-size: 12px;
    color: #000000;
    display: block;
}

.cate-left .cate-nav li.current {
    background-color: #fff;
    border-right: none;
}

.cate-left .cate-nav li.current a {
    color: #D8505C;
}

.cate-right {
    width: 100%;
    height: 100%;
    padding-left: 90px;
    overflow: hidden;
}

.cate-right .cate-box {
    padding: 10px 12px 0 12px;
}

.cate-right .banner img {
    width: 100%;
}

.cate-right .cate-product .title {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #888888;
}

.cate-right .product-item {
    width: 33.333%;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
    float: left;
}

.cate-right .product-item .product-image {
    height: 62px;
}

.cate-right .product-item .product-name {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color: #333333;
}




