
body {
    background-color: #f5f5f5;
}

.jd-layout {
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    position: relative;
}

.jd-header {
    width: 100%;
    height: 40px;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}

.jd-header .jd-header-box {
    max-width: 640px;
    min-width: 300px;
    height: 40px;
    margin: 0 auto;
    background-color: rgba(209, 55, 67, 0.85);
    position: relative;
}

.jd-header .jd-header-box .icon-logo {
    width: 57px;
    height: 21px;
    background-position: 0 -109px;
    position: absolute;
    left: 5px;
    top: 10px;
}

.jd-header form {
    margin-left: 70px;
    margin-right: 50px;
    position: relative;
}

.jd-header form .icon-search {
    width: 19px;
    height: 20px;
    background-position: -60px -110px;
    position: absolute;
    left: 10px;
    top: 12px;
}

.jd-header form input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    padding-left: 30px;
    border-radius: 15px;
}

.jd-header .jd-header-box .logoin {
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

.jd-banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.jd-banner .banner-image {
    width: 800%;
}

.jd-banner .banner-image li {
    width: 12.5%;
    float: left;
}

.jd-banner .banner-image img {
    width: 100%;
    height: auto;
}

.jd-banner .banner-circle {
    width: 118px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: 5px;
}

.jd-banner .banner-circle li {
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border: solid 1px #fff;
    border-radius: 3px;
    cursor: pointer;
    float: left;
}

.jd-banner .banner-circle li:nth-last-child(1) {
    margin-right: 0;
}

.jd-banner .banner-circle li.current {
    background-color: #fff;
}

.jd-nav {
    width: 100%;
    padding-top: 11px;
    background-color: #fff;
}

.jd-nav .nav-list {
    width: 100%;
    height: 128px;
    padding: 0 3.125%;
    border-bottom: solid 1px #e0e0e0;
}

.jd-nav .nav-list .nav-item {
    width: 25%;
    text-align: center;
    float: left;
}

.jd-nav .nav-list .nav-image {
    width: 40px;
    height: 40px;
    padding-bottom: 6px;
}

.jd-nav .nav-list .nav-text {
    font-size: 12px;
    color: #5D5D5D;
    padding-bottom: 12px;
}

.jd-product {
    width: 100%;
    padding: 0 5px;
}

.product-box {
    width: 100%;
    margin-top: 7px;
    border-top: solid 1px #EDEDED;
    box-shadow: 0 0 1px #e0e0e0;
    background-color: #fff;
}

.product-box .product-top {
    height: 32px;
    border-bottom: solid 1px #e0e0e0;
}

.product-box .product-top .title {
    height: 32px;
    line-height: 32px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: normal;
    color: #666666;
    position: relative;
}

.product-box .product-top .title::before {
    content: "";
    width: 3px;
    height: 12px;
    background-color: #D8505C;
    position: absolute;
    left: 7px;
    top: 10px;
}

.product-box .no-border {
    border-bottom: none;
}

.jd-secondkill {

}

.jd-secondkill .secondkill-left {
    float: left;
}

.jd-secondkill .secondkill-left .sk-icon {
    width: 16px;
    height: 20px;
    margin-left: 5px;
    margin-top: 6px;
    background: url("../images/seckill-icon.png") no-repeat;
    background-size: 16px 20px;
    float: left;
}

.jd-secondkill .secondkill-left .sk-name {
    margin: 8px 5px 0;
    font-size: 16px;
    font-weight: normal;
    color: #C91523;
    float: left;
}

.jd-secondkill .secondkill-left .sk-time {
    margin-top: 7px;
    float: left;
}

.jd-secondkill .secondkill-left .sk-time .num {
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 4px;
    background-color: #333333;
    text-align: center;
    color: #fff;
    float: left;
}

.jd-secondkill .secondkill-left .sk-time .str {
    height: 16px;
    line-height: 16px;
    margin-right: 4px;
    text-align: center;
    color: #333333;
    float: left;
}

.jd-secondkill .secondkill-right {
    float: right;
}

.jd-secondkill .secondkill-right .more {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    color: #333333;
    display: block;
}

.sk-product-list {
    width: 100%;
    margin-top: 10px;
}

.sk-product-list .sk-product-item {
    width: 33.3%;
    float: left;
}

.sk-product-list li .image-box {
    margin: 0 auto;
    text-align: center;
    border-right: solid 1px #DCDCDC;
}

.sk-product-list li:nth-last-child(1) .image-box {
    border-right: none;
}

.sk-product-list li .image-box img {
    width: 60%;
}

.sk-product-list li .now-price {
    margin: 8px 0;
    font-size: 16px;
    color: #D8505C;
    text-align: center;
}

.sk-product-list li .old-price {
    margin-bottom: 14px;
    font-size: 15px;
    color: #666666;
    text-align: center;
    text-decoration: line-through;
}