
.box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: blue;
    transition: all 2s;
}

.box:hover {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    transform: rotate(360deg);
}
