
*{
	margin:0;
	padding:0; 
	font-size:12px;
	color:#346667; 
	font-family:Arial,
	Helvetica, sans-serif,"宋体";
	}
	
	
a{
	text-decoration:none;
	}
	
a:hover{
	text-decoration:underline;
	}

h2{
	line-height:30px; 
	font-size:14px; 
	margin-bottom:5px;
	}
	
p{
	line-height:24px; 
	text-indent:26px; 
	margin-bottom:5px;
	}

#wrap{
	width:770px; 
	margin:0 auto;
	}

#header{
	width:762px; 
	border:4px solid #badbdb; 
	background:url(../images/banner.gif) no-repeat; 
	height:92px; 
	text-align:right;
	color:#fff;
	}
	
#header a{
	color:#fff;
	margin:0 5px;
	}

#mainbody,#footer{
	width:100%;}
	
#footer{
	text-align:center; 
	padding:20px 0;
	}

.content{
	background:#eff9f9; 
	padding:44px 15px 15px;
	border:4px solid #badbdb;
	}
	
.profile{
	background:url(../images/t_profile.gif) no-repeat #eff9f9;
	}
	
.book{
	background:url(../images/t_book.gif) no-repeat #eff9f9;
	}
	
.book img{
	border:1px solid #b1adaa; 
	margin:10px 18px;
	}
