body {
    margin: 0;
    padding: 0;
}

/*div容器*/
.container {
    margin: 100px;
    padding: 50px;
    background-color: red;
}

/*外边框*/
.border{
    background: green;
    border-style: groove;
    padding:50px;
}

/*内填充*/
.padding{
    background-color: blue;
    padding: 50px;
}

/*内容区*/
.content{
    background-color:yellow;
    padding: 50px;
}