*{
    padding: 0px;
    margin: 0px;
}

body{
    padding-top: 50px;
}

.dialog{
    width: 600px;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.dialog-image{
    width: 100px;
}

.dialog-image img{
    margin-left: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    float: left;
}

.dialog-content{
    width: 458px;
    padding: 20px;
    float: right;
    border: 1px solid #ccc;
    background-color:  #EEF7FF;
}

.dialog-content p{
    text-indent: 2em;
    line-height: 20px;
}

.dialog-content span{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #999;
}

.dialog-content h6{
    margin-bottom: 5px;
}