div{
    width: 100px;
    height: 100px;
    background-color: blue;
}

.div2{

    /*将div2旋转200d度*/
    transform:rotate(180deg);

    /*设置CSS3样式支持Safari和Chrome浏览器*/
    -webkit-transform: rotate(200deg);

    /*设置CSS3样式支持IE浏览器*/
    -ms-transform: rotate(200deg);

    /*设置CSS3样式支持Opera浏览器*/
    -o-transform: rotate(200deg);

    /*设置CSS3样式支持Firefox浏览器*/
    -moz-transform: rotate(200deg);
}